.title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  line-height: 1.2;

  span {
    color: #4f46e5;
    display: inline-block;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }
}
    